<div class="modal fade theme1 style1"  *ngFor="let car of cars" [id]="'rental-view' + car.id"  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
          <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-8 mx-auto col-lg-5 mb-5 mb-lg-0">
                      <div class="product-sync-init mb-20">
                          <div class="single-product">
                              <div class="product-thumb">
                                  <img width="420" height="300" [src]="picUrl + car.imageUrl" alt="product-thumb">
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-7 mt-5 mt-md-0">
                      <div class="modal-product-info">
                          <div class="product-head">
                              <h2 class="title">{{car.brand.name}}  {{car.model}}</h2>
                              <h4 class="sub-title">Reference: {{car.id}} </h4>
                              <div class="star-content mb-20">
                                  <span class="star-on"><i class="fas fa-star"></i> </span>
                                  <span class="star-on"><i class="fas fa-star"></i> </span>
                                  <span class="star-on"><i class="fas fa-star"></i> </span>
                                  <span class="star-on"><i class="fas fa-star"></i> </span>
                                  <span class="star-on de-selected"><i class="fas fa-star"></i> </span>
                              </div>



                          </div>
                          <div class="product-body">
                              <span class="product-price text-center"> <span class="new-price">${{car.pricePerDay}}</span>
                              </span>
                              <h3 class="title text-capitalize mb-30 pb-25"> Rent this car</h3>

                              <div class="col-md-6 offset-md-3">
                                <div class="login-form-links">
                                    <div class="sign-btn">
                                      <button class="btn theme-btn--dark1 btn--md" (click)="getUnavailbleDates(car.id)" *ngIf="!showForm">Rent this car ?</button>
                                    </div>
                                </div>
                            </div>
                              <form class="log-in-form" [formGroup] = "rentForm" *ngIf="showForm">

                                <div class="form-group row" style="align-items: center;" >
                                  <mat-form-field appearance="fill">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [rangePicker]="picker" [min]="minDate" [dateFilter] = "dateFilter">
                                      <input matStartDate placeholder="Start date" id="startDate" name="startDate" formControlName="startDate" >
                                      <input matEndDate placeholder="End date"  id="endDate" name="endDate" formControlName="endDate">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                                  </mat-form-field>
                                </div>
                                <div class="form-group row pb-3 text-center">
                                    <div class="col-md-6 offset-md-3">
                                        <div class="login-form-links">
                                            <div class="sign-btn">
                                                <button class="btn theme-btn--dark1 btn--md" (click)="OnSubmit(car.id)">Rent</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                          </div>

                          <div class="product-footer">
                              <div class="pro-social-links mt-10">
                                  <ul class="d-flex align-items-center">
                                      <li class="share">Share</li>
                                      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                      <li><a href="#"><i class="ion-social-google"></i></a></li>
                                      <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
